apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: 930936104956.dkr.ecr.us-east-1.amazonaws.com/mlflow:1.0.0
        imagePullPolicy: Always
        args:
          - mlflow
          - server
          - --host=0.0.0.0
          - --port=5000
          - --backend-store-uri=$(BACKEND_STORE_URI)
          - --default-artifact-root=$(ARTIFACT_ROOT)
        env: 
          - name: BACKEND_STORE_URI
            valueFrom:
              secretKeyRef:
                name: mlflow-secrets
                key : BACKEND_STORE_URI
          
          - name: ARTIFACT_ROOT
            valueFrom:
              secretKeyRef:
                name: mlflow-secrets
                key: ARTIFACT_ROOT
        ports:
          - containerPort: 5000

---

apiVersion: v1
kind: Service
metadata:
  name: mlflow
spec:
  selector:
    app: mlflow
  ports:
    - port: 5000
      targetPort: 5000
