apiVersion: batch/v1
kind: Job
metadata:
  name: ml-training-job
spec:
  ttlSecondsAfterFinished: 100
  backoffLimit: 2
  template:
    spec:
      containers:
      - name: trainer
        image: mlops
        imagePullPolicy: IfNotPresent
        resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
      restartPolicy: Never
