name: docker-ci

on: [push]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/lib/android
          docker system prune -af

      - name: Build-image
        run: docker build -t mlops-1 -f Dockerfile .
      
      - name: scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: mlops-1
          scanners: vuln
          severity: CRITICAL,HIGH
  